body{
  padding: 0 1.5vw;
}
nav{
  background-color: #e3f2fd;
}
.active{
  background-color: #66ccff;
  border-bottom: 5px solid #2257B5;
}
.drop-content{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 40vh;
  overflow: auto;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
}
.hidden {
  display: none;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.comment-card{
  border: 1.5px solid red;
}

@media screen and (min-width: 768px){
  .height-dictator{
    display: flex;
    flex-direction: column;
    height: 75vh;
    overflow: auto;
  }
}
