<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= p.title %></td>
      <td><%= p.description %></td>
    </tr>
  </tbody>
